/***********聊天室样式***************/
.meetingBody{
	margin-top: 165px;
	width: 100%;
}
.modal-body{
	padding: 0px;
}
.groupChatBox{
	height: 350px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-left: 2px;
    background-color: #fff;
    overflow-y: auto;
}
#groupChatMessageList{
	width: 96%;
	padding: 10px 5px;
}
#groupChatMessageList span{
	font-size: 12px;
}
.sendingMessage{
	font-size: 12px;
}
#groupChatMessageList .messageTime{
	text-align: center;
	font-size: 10px;
	clear:both;
}
#groupChatMessageList img{
	border-radius: 50%;
}
/**对方发信息过来**/
#groupChatMessageList .sender{
    clear:both;
}
#groupChatMessageList .sender div:nth-of-type(1){
    float: left;
}
#groupChatMessageList .sender div:nth-of-type(2){
    background-color: aquamarine;
    float: left;
    margin: 0 20px 10px 15px;
    padding: 10px 10px 10px 0px;
    border-radius:7px;
}
/**我发发信息过去**/
#groupChatMessageList .receiver div:first-child img,
.sender div:first-child img{
    width:40px;
    height:40px;
}
 
#groupChatMessageList .receiver{
    clear:both;
}
#groupChatMessageList .receiver div:nth-child(1){
    float: right;
}
#groupChatMessageList .receiver div:nth-of-type(2){
    float:right;
    background-color: gold;
    margin: 0 10px 10px 20px;
    padding: 10px 0px 10px 10px;
    border-radius:7px;
}
#groupChatMessageList .left_triangle{
    height:0px;  
    width:0px;  
    border-width:8px;  
    border-style:solid;  
    border-color:transparent aquamarine transparent transparent;  
    position: relative;
    left:-16px;
    top:3px;
}
#groupChatMessageList .right_triangle{
    height:0px;  
    width:0px;  
    border-width:8px;  
    border-style:solid;  
    border-color:transparent transparent transparent gold;  
    position: relative;
    right:-16px;
    top:3px;
}
.foot textarea{
	margin-bottom: 5px;
}
.foot button{
	width: 80px;
}
